{
  "name": ",<%= name %>",
  "description": "<%= description %>",
  "version": "0.0.1",
  "homepage": "<%= git_site %>",
  "authors": [
    "<%= author %> <<%= email %>>"
  ],
  "license": "MIT",
  "dependencies": {
    "jquery": "~2.1.1",
    "bootstrap": "~3.2.0",
    "angular": "~1.2.19",
    "requirejs": "~2.1.14",
    "underscore": "~1.6.0",
    "angular-route": "~1.2.19"
  }
}
